body {
    font-family: Arial, sans-serif;
    background-image: url(gunung.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:white;
}

.form {

    width: 65%;
    margin: auto;
    background-color: rgba(30, 27, 27, 0.4);
    height: max-content;
}

label {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form {
    max-width: 600px;
    margin: 0 auto;
    border: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"], input[type="password"], select, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"]{ 
    background-color: #37ff00;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type="reset"]{
    background-color:red;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
